@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
* {
    box-sizing: border-box;
  }
  
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


button{
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: cornflowerblue;
    color: white;
}


header nav{
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

header nav p{
    font-weight: bold;
    color: white;
}

h1{
    font-size: 4rem;
}

ul{
    list-style: none;
    display: flex;
}

li{
    margin:0 15px;
    color: white;  
}

header{
    height: calc(100vh - 150px);
    background:no-repeat center/cover url("assets/image-logo.jpg");
}

.header-content{
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h1{
    color: white;
}

.header-content p{
    color: white;
    font-weight: bold;
}

